.footer__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.supportLink{
    color: #000;
    text-decoration: none;
    margin: 5px 0;
}